body {
    background-image: url("../diamond.png");
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.error-page-header {
    font-size: 300%;
    font-weight: bold;
    margin: 3em 0 0;
    text-align: center;
}

.error-page-sub-header {
    font-size: large;
    opacity: 0.75;
    text-align: center;
    border-bottom: 1px solid #eee;
}

footer {
    position: fixed;
    font-size: small;
    bottom: 0;
    left: 1em;
    opacity: 0.75;
}